In [1]:
### upload dataset to Gdrive and then mount to Colab 
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
!pip install pandas-profiling
from pathlib import Path
import os, shutil
import numpy as np
import pandas as pd
import pandas_profiling

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (1.12.0)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (2.11.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.25.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.1.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2.6.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (1.17.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (45.1.0)

In [0]:
csv_path= './gdrive/My Drive/QuantumBlackData/vehicle.csv'

In [4]:
dataframe = pd.read_csv(csv_path)
dataframe.head()

   vehicle_id  year        make  ... cylinders  forced_induction  device_generation
0     1000500  2016       Honda  ...         4            1054.0                  5
1     1000501  2016        Jeep  ...         3               NaN                  4
2     1000502  2016     Hyundai  ...         4            1054.0                  3
3     1000503  2016       Skoda  ...         3               NaN                  2
4     1000504  2017  Volkswagen  ...         4               NaN                  4

[5 rows x 17 columns]

In [0]:
base_path = './gdrive/My Drive/QuantumBlackData'

In [6]:
os.listdir(base_path)

['drive', 'trip', 'weather', 'vehicle.csv']

In [0]:
data_dir = Path('./gdrive/My Drive/QuantumBlackData/drive')
full_df = pd.concat(
    pd.read_parquet(parquet_file)
    for parquet_file in data_dir.glob('*.parquet')
)
full_df.to_csv('drive.csv')

In [0]:
!cp drive.csv './gdrive/My Drive/QuantumBlackData'

In [0]:
drive_df = pd.read_csv('./gdrive/My Drive/QuantumBlackData/drive.csv')

In [15]:
drive_df.head()

   Unnamed: 0  vehicle_id  ...    iat      rpm
0           0     1000515  ...   95.0  2107.44
1           1     1000515  ...  100.0  2119.17
2           2     1000515  ...   90.0  2112.32
3           3     1000515  ...   90.0  2092.94
4           4     1000515  ...   97.0  2117.87

[5 rows x 13 columns]